body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: black;
  background-image: url("/images/space.png");
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
canvas {
  box-shadow: rgb(36, 36, 36) 5px 10px 50px;
}
h1 {
  text-align: center;
  color: #4af727;
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
}
h2 {
  text-align: center;
  color: rgba(228, 228, 228, 0.432);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

footer {
  box-sizing: border-box;
  background-color: #020202;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  color: #f7f7f7;
  align-items: center;
  font-size: 0.8rem;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  display: flex;
  gap: 20px;
}
footer a {
  display: flex;
  justify-content: center;
  color: #242323;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
}
.desenvolvido {
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.3);
  font-weight: lighter;
  margin-left: 30px;
  text-align: center;
}
a:hover {
  color: #4af727;
}
